* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
  font-weight: 500;
}

h3 {
  font-size: 38px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

p {
  margin-bottom: 16px;
}

header {
  height: 300px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 32px;
}

.accent {
  color: #e95400;
  font-weight: bold;
}

.hidden {
  display: none;
}

.section-hr {
  margin-bottom: 40px;
}

.example-block {
  margin: 0 auto;
  width: 800px;
  border: 2px solid #b08484;
  padding: 15px;
}

.date-info {
  font-size: 14px;
  font-family: Bitter, serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.post-title {
  font-size: 50px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

.headline {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
}