:root {
  --main-font-color: #292929;
  --accent-color: #e95400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  color: var(--main-font-color);
  letter-spacing: 0.5px;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
  font-weight: 500;
}

p {
  margin-bottom: 16px;
}

header {
  height: 300px;
}

.header-title {
  font-size: 70px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 32px;
}

.accent {
  color: var(--accent-color);
  font-weight: bold;
}

.hidden {
  display: none;
}

section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 38px;  
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.capitalize {
  text-transform: capitalize;
}

.section-hr {
  margin-bottom: 40px;
}

.date-info {
  font-size: 14px;
  font-family: Bitter, serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.post-title {
  font-size: 50px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

.headline {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.quote {
  font-style: italic;
  width: 90%;
  margin: 0 auto;
  border-left: 1.5px solid var(--accent-color);
  padding-left: 16px;  
}

.quote p {
  margin-bottom: 0;
}

.quote p::before {
  content: '\0022';
}

.quote p::after {
  content: '\0022';
}

.quote cite {
  font-weight: bold;
  margin-left: 20px;
}

.example-block {
  border-right: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 15px;
}

.example-block :last-child {
  margin-bottom: 0;
}

.example-element  {
  margin-bottom: 20px;
}

.example-title-l {
  font-size: 30px;
  letter-spacing: 0.25px;
}

.example-title-m {
  font-size: 24px;
  letter-spacing: 0.25px;
}

.example-title-s {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.section-subtitle {
  font-size: 30px;
  margin: 25px 0;
}

.footer {
  background-color: #e95400;
  opacity: .6;
  padding: 25px 0;
}



