* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant', serif;
  font-weight: 300;
}

header {
  margin: 32px;
}

h1,
.nav,
.nav-item {
  display: inline-block;
}

h1 {
  font-weight: 300;
  margin-right: 32px;
}

.nav-item {
  list-style: none;
  font-size: 20px;
  margin-right: 16px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color:black;
  text-decoration: none;
 }

 .nav-item .active {
  border-bottom: 1px solid black;
 }

.gallery {
  padding: 0 16px;
}

.gallery-card {
  display: inline-block;
  width: 49.75%;
  padding: 16px;
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.gallery-title {
  font-weight: 300;
}
